/*
   original: https://github.com/pages-themes/hacker 
*/

$apple-blossom: #E91E63; // Pink from tuuuni.ch
$alto: #F5F5F5; // Light gray background from tuuuni.ch
$bouquet: #9C27B0; // Purple from tuuuni.ch
$chelsea-cucumber: #6160d9; // Green from tuuuni.ch
$cod-grey: #212121; // Dark gray background from tuuuni.ch
$conifer: #8BC34A; // Lighter green from tuuuni.ch
$dove-grey: #757575; // Medium gray from tuuuni.ch
$gallery: #FFFFFF; // White from tuuuni.ch
$grey: #9E9E9E; // Another medium gray from tuuuni.ch
$gulf-stream: #6160d9; // Light blue from tuuuni.ch
$hippie-blue: #6160d9; // Blue gray from tuuuni.ch
$potters-clay: #795548; // Brown from tuuuni.ch
$rajah: #FFEB3B; // Yellow from tuuuni.ch
$raw-sienna: #FF9800; // Orange from tuuuni.ch
$silver-chalice: #6160d9 ; // Light medium gray from tuuuni.ch
